<!-- Project name shoyld not be empty  -->
<!-- Mail should not be empty, email validator  -->
<!-- Project status dropdown [Stable, Critical, Finished] -->
<!-- Submit button  -->
<!-- Custom validator -> Test is a forbidden name  -->
<!-- Validator must be async  -->
<!-- Print result in screen -->

<div class="container">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <!-- Project name  -->
        <div class="form-group">
            <label for="name">Project Name</label>
            <input 
            type="text" 
            name="name" 
            placeholder="Project Name"
            id="name" 
            class="form-control"
            [ngClass]="{'is-invalid': submitted && projectForm.get('pname').invalid}"
            formControlName="pname">
            <div class="invalid-feedback" *ngIf="submitted && projectForm.get('pname').invalid">
                <div *ngIf="projectForm.get('pname').errors['required']">Field Cannot be Empty</div>
            </div>
        </div>
        <!-- Project Email  -->
        <!-- Project Status  -->
        <!-- Submit Button  -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
<div>
    <!-- Output Result  -->
    {{ valueChange | json}}
</div>