<!-- Project name shoyld not be empty - DONE -->
<!-- Mail should not be empty, email validator - DONE -->
<!-- Project status dropdown [Stable, Critical, Finished] - DONE -->
<!-- Submit button - DONE -->
<!-- Custom validator -> Test is a forbidden name - DONE -->
<!-- Validator must be async - DONE -->
<!-- Print result in screen - DONE -->

<div class="container">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <!-- Project name  -->
        <div class="form-group">
            <label for="name">Project Name</label>
            <input 
            type="text" 
            name="name" 
            placeholder="Project Name" 
            id="name" 
            class="form-control"
            [ngClass]="{'is-invalid': submitted && projectForm.get('pname').invalid}" 
            formControlName="pname">
            <div class="invalid-feedback" *ngIf="submitted && projectForm.get('pname').invalid">
                <div *ngIf="projectForm.get('pname').errors['required']">Field Cannot be Empty</div>
                <div *ngIf="projectForm.get('pname').errors['nameIsForbidden']">Name is Forbidden</div>
            </div>
        </div>
        <!-- Project Email  -->
        <div class="form-group">
            <label for="email">Project Email</label>
            <input 
            type="email" 
            name="email" 
            id="email" 
            class="form-control"
            [ngClass]="{'is-invalid': submitted && projectForm.get('pemail').invalid}" 
            placeholder="Project Email"
            formControlName="pemail">
            <div class="invalid-feedback" *ngIf="submitted && projectForm.get('pemail').invalid">
                <div *ngIf="projectForm.get('pemail').errors['required']">Field Cannot be Empty</div>
                <div *ngIf="projectForm.get('pemail').errors['email']">Enter a Valid Email</div>
            </div>
        </div>
        <!-- Project Status  -->
        <div class="form-group">
            <label for="status">Project Status</label>
            <select 
            name="status" 
            id="status" 
            formControlName="pstatus"
            [ngClass]="{'is-invalid': submitted && projectForm.get('pstatus').invalid}" 
            class="custom-select">
                <option *ngFor="let s of statusList" [value]="s"> {{s}} </option>
            </select>
            <div class="invalid-feedback" *ngIf="submitted && projectForm.get('pstatus').invalid">Select a Value</div>
        </div>
        <!-- Submit Button  -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <div>
        <!-- Output Result  -->
        {{ projectForm.value | json }}
        {{ projectForm.status | json }}
    </div>
</div>