<!-- Project name shoyld not be empty  -->
<!-- Mail should not be empty, email validator  -->
<!-- Project status dropdown [Stable, Critical, Finished] -->
<!-- Submit button  -->
<!-- Custom validator -> Test is a forbidden name  -->
<!-- Validator must be async  -->
<!-- Print result in screen -->

<div class="container">
    <form [formGroup]="projectForm">
        <!-- Project name  -->
        <!-- Project Email  -->
        <!-- Project Status  -->
        <!-- Sybmit Button  -->

    </form>
</div>
<div>
    <!-- Output Result  -->
    {{ valueSubscription | json}}
</div>